<!-- Page content -->
<div id="page-content">
  <!-- Product Edit Content -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <!-- General Data Block -->
      <div class="block">
        <!-- General Data Title -->
        <div class="block-title">
          <h2>
            <i class="fa fa-pencil"></i> <strong>Thay đổi mật khẩu</strong>
          </h2>
        </div>
        <!-- END General Data Title -->
        <%- include('../partials/messages') %>
        <!-- General Data Content -->
        <form
          method="post"
          id="change-password-form"
          class="form-horizontal form-bordered"
        >
          <div class="form-group">
            <label class="col-md-4 control-label" for="oldPassword"
              >Nhập mật khẩu cũ (*)</label
            >
            <div class="col-md-8">
              <input
                type="password"
                id="oldPassword"
                name="oldPassword"
                class="form-control"
                autofocus="autofocus"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="newPassword"
              >Nhập mật khẩu mật khẩu mới (*)</label
            >
            <div class="col-md-8">
              <input
                type="password"
                id="newPassword"
                name="newPassword"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="confirmPassword"
              >Nhập lại khẩu mật khẩu mới (*)</label
            >
            <div class="col-md-8">
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                class="form-control"
              />
            </div>
          </div>

          <div class="form-group form-actions">
            <div class="col-md-6 col-md-offset-6">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i> Đổi mật khẩu
              </button>
              <a href="/" class="btn btn-danger"
                ><i class="fa fa-times"></i> Hủy bỏ</a
              >
            </div>
          </div>
        </form>
        <!-- END General Data Content -->
      </div>
      <!-- END General Data Block -->
    </div>
  </div>
  <!-- END Product Edit Content -->
</div>
<!-- END Page Content -->
<script src="/js/users/change-password.js"></script>
