<!-- Login Background -->
<img
        src="/img/placeholders/backgrounds/login_full_bg.jpg"
        alt="Login Full Background"
        class="full-bg animation-pulseSlow"
/>
<!-- END Login Background -->

<!-- Login Container -->
<div id="login-container" class="animation-fadeIn">
  <!-- Login Title -->
  <div class="login-title text-center">
    <h1>
      <i class="gi gi-flash"></i> <strong>Project Covid Payment</strong
      ><br/><small><strong>Khởi tạo tài khoản nhận tiền</strong> <strong></strong></small>
    </h1>
  </div>
  <!-- END Login Title -->

  <!-- Login Block -->
  <div class="block push-bit">
    <%- include('../partials/messages') %>
    <!-- Reminder Form -->
    <form
            method="post"
            id="form-init"
            class="form-horizontal form-bordered form-control-borderlesse"
    >
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control input-lg"
                    placeholder="Username"
                    autofocus="autofocus"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control input-lg"
                    placeholder="Password"
            />
          </div>
        </div>
      </div>
      <div class="form-group form-actions">
        <div class="col-xs-12 text-right">
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-angle-right"></i> Khởi tạo
          </button>
        </div>
      </div>
    </form>
    <!-- END Reminder Form -->
  </div>
  <!-- END Login Block -->
</div>
<!-- END Login Container -->

<!-- Load and execute javascript code used only in this page -->
<script src="/js/pages/login.js"></script>
<script src="/js/accounts/init.js"></script>
<script>
  $(function () {
    Login.init();
  });
</script>
