<div class="block">
    <div class="block-title">
        <h2><i class="fa fa-user-secret"></i> <strong>Lịch sử thay đổi tài khoản </strong>(<%= account_histories?.length %>)</h2>
    </div>
    <% if(account_histories?.length) { %>
        <table id="detail-account-history" class="table table-bordered table-striped table-vcenter">
            <thead>
            <tr>
                <th class="text-center" style="width: 70px;">Mã</th>
                <th class="text-center">Hành động</th>
                <th class="hidden-xs text-center">Ngày tạo</th>
            </tr>
            </thead>
            <tbody>
            <% account_histories.forEach(function(account_history, index) { %>
                <tr>
                    <td class="text-center"><strong><%= index + 1 %></strong></td>
                    <td class="text-center"><%= account_history.action %></td>
                    <td class="hidden-xs text-center"><%= moment(account_history.created_date).tz('Asia/Ho_Chi_Minh').format('DD-MM-YYYY, hh:mm:ss') %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <div class="alert alert-info">
            <h4><i class="fa fa-info-circle"></i> Không có lịch sử thay đổi tài khoản.</h4>
        </div>
    <% } %>
</div>
