
 <!-- Login Background -->
        <img src="/img/placeholders/backgrounds/login_full_bg.jpg" alt="Login Full Background" class="full-bg animation-pulseSlow">
        <!-- END Login Background -->

        <!-- Login Container -->
        <div id="login-container" class="animation-fadeIn">
            <!-- Login Title -->
            <div class="login-title text-center">
                            <h1><i class="gi gi-flash"></i> <strong>Project Covide</strong><br><small><strong>Tạo mật khẩu</strong>  <strong></strong></small></h1>
                        </div>
            <!-- END Login Title -->
    <%- include('../partials/messages') %>
            <!-- Login Block -->
            <div class="block push-bit">

                <!-- Reminder Form -->
                <form actions="/accounts/login/create" method="post" id="form-reminder" class="form-horizontal form-bordered form-control-borderlesse">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                <input type="password" id="username" name="username" class="form-control input-lg" placeholder="Mật khẩu">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i>></span>
                                            <input type="password" id="usernameRepeat" name="usernameRepeat" class="form-control input-lg" placeholder="Nhập lại mật khẩu">
                                        </div>
                                    </div>
                                </div>
                                    <div class="form-group form-actions">
                                        <div class="col-xs-12 text-right">
                                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Tiếp theo</button>
                                        </div>
                                    </div>
<!--                                     <div class="form-group"> -->
<!--                                         <div class="col-xs-12 text-center"> -->
<!--                                             <small>Did you remember your password?</small> <a href="javascript:void(0)" id="link-reminder"><small>Login</small></a> -->
<!--                                         </div> -->
<!--                                     </div> -->
                                </form>
                <!-- END Reminder Form -->
            </div>
            <!-- END Login Block -->
        </div>
        <!-- END Login Container -->


        <!-- Load and execute javascript code used only in this page -->
        <script src="/js/pages/login.js"></script>
        <script>$(function(){ Login.init(); });</script>
