<!DOCTYPE html>
<%- include('../partials/head') %>
<body>
            <%- body %>
<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>
<%- include('../partials/script') %>
</body>
</html>