<div id="page-content">
    <div class="row justify-content-center">

        <div class="col-sm-10 col-lg-offset-1">
            <%- include('../patients/detail-status-history', { status_histories: patient.status_histories }); %>
            <%- include('../patients/detail-hospital-history', { hospital_histories: patient.hospital_histories }); %>
            <%- include('../patients/detail-account-history', { account_histories: account_histories }); %>
        </div>
    </div>
</div>
<!-- Load and execute javascript code used only in this page -->
<script src="/js/patients/patient-detail.js"></script>