<div id="page-content">
    <div class="row justify-content-center">

        <div class="col-sm-10 col-lg-offset-1">
            <%- include('../patients/detail-payment-history', { transaction_histories: patient.transaction_histories }); %>
        </div>
    </div>
</div>
<!-- Load and execute javascript code used only in this page -->
<script src="/js/patients/patient-detail.js"></script>